<div class="reg" style="margin: 0 auto;padding: 20px;">

<div class="reg1" style="margin: 0 auto; width: 900px; display: flex; justify-content: space-around;">
  <div >
      <h1 style="text-align: center;">Registration</h1>
    <form (ngSubmit)="onSubmit(registrationForm.value)" novalidate #registrationForm="ngForm" style="display: flex; flex-direction: column;">
      <label style="margin-left: 5px;">NAME:</label>
      <input type="text" name="name" #ngName="ngModel"  ngModel #name required placeholder="Input your name" style="margin-left: 5px;">
      <label style="margin-left: 5px;">EMAIL:</label>
      <input type="text" name="email" #ngEmail="ngModel" #email ngModel required placeholder="input your email" style="margin-left: 5px;">
      <label style="margin-left: 5px;">PASSWORD</label>
      <input type="password" name="password" #ngPassword="ngModel"  ngModel #password required placeholder="input your password" style="margin-left: 5px;">
      <input type="submit" value="submit" [disabled]="!registrationForm.form.valid" style="box-shadow: 2px 3px 3px black;width: 70px; height: 40px; margin-bottom: 10px;margin-top: 10px; margin-left: 30px;">
    </form>
        <div *ngIf="submitted" style="padding: 10px;" >
          <p style="font-size: 18px; font-weight: bold; font-style: italic;">You are successfully registrated</p>
          <a routerLink="/login">Go to this link to login</a>
        </div>
  </div>
</div>

</div>
