<div class="main" style="margin: 0 auto; with:100%;background-color: darkred; padding: 40px;">
  <h1 style="color:white; text-align: center;">Find The Right Course Here</h1>
  <nav style="display: flex; margin: 0 auto ;text-align: center; justify-content: space-around; background-color: cornflowerblue; width: 800px;padding: 10px;">
    <a routerLink="/home" style="text-shadow: 2px 3px 5px darkred; color: white;text-decoration: none; padding: 10px;">HOME</a>
    <a routerLink="/login" style="text-shadow: 2px 3px 5px darkred;color: white; text-decoration: none;padding: 10px;">LOGIN</a>
  </nav>
  <img src="../../assets/course-seeker_og_image.jpg" width="100%" style="padding: 25px;"/>
</div>
